<head> 
 <link rel="stylesheet" type="text/css" href="style.css">


</head>

<div class="jumbotron">
  <h1 class="display-3">Welcome to BetterEventBride</h1>
  </br>
  </br>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="#" role="button">Create your event bra !</a>
  </p>
</div>



<div class="jumbotron2">
  <h1 class="display-3"></h1>
  <p class="lead"></p>
  
 
  
</div>