
<head> 
 <link rel="stylesheet" type="text/css" href="style.css">


</head>


<div class="container">
<div>
<img class="card-img-top" src="https://picsum.photos/458/354" alt="Card image cap">
</div>
<div>
<div class="card text-white bg-dark mb-3">
  <div class="card-header">Participants</div>
  <div class="card-body">
   
    <h4 class="card-title">Primary card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  </div>
</div>
</div>

<div class="container">
<div>
<img class="card-img-top" src="https://picsum.photos/458/354" alt="Card image cap">
</div>
<div>
<div class="card text-white bg-dark mb-3">
  <div class="card-header">Villes</div>
  <div class="card-body">
   
    <h4 class="card-title">Primary card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  </div>
</div>
</div>



 







<div class="container1">

  <div class="row">

    <div class="col-3">

      <h3 class="card-header">Evènement</h3>
  <div class="card-body">
    <h5 class="card-title">Bowling</h5>
    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
  </div>
  <img style="height: 200px; width: 100%; display: block;" src="https://cdn.lajoliemaison.fr/wp-content/uploads/2018/10/08091954/1.-La-meilleure-boule-de-bowling.jpg" alt="Card image">
  <div class="card-body">
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

    </div>

    <div class="col-3">

      <h3 class="card-header">Card header</h3>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
  </div>
  <img style="height: 200px; width: 100%; display: block;" src="https://cdn.lajoliemaison.fr/wp-content/uploads/2018/10/08091954/1.-La-meilleure-boule-de-bowling.jpg" alt="Card image">
  <div class="card-body">
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

    </div>

    <div class="col-3">

      <h3 class="card-header">Card header</h3>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
  </div>
  <img style="height: 200px; width: 100%; display: block;" src="https://cdn.lajoliemaison.fr/wp-content/uploads/2018/10/08091954/1.-La-meilleure-boule-de-bowling.jpg" alt="Card image">
  <div class="card-body">
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

    </div>

  </div>

</div>
